body {
    margin: 0;
}
#game {
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 1s;
}
:root {
    --menuBackGround: rgb(20, 20, 20);
    --menuSideBar: rgb(50, 50, 50);
    --lightBlue: rgb(130, 230, 230);
}
#menu {
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(50%);
    top: 25%;
    z-index: 3;
    background-color: var(--menuBackGround);
    border-radius: 10px;
    display: none;
    border: 2px solid var(--lightBlue);
}
    #menu-sidebar {
        position: absolute;
        width: 30%;
        height: 90%;
        margin: 2.5%;
        border-radius: 10px;
        background-color: var(--menuSideBar);
        border: 2px solid var(--lightBlue);
    }
    .menu-sidebar-h2 {
        display: flex;
        justify-content: center;
        font-family: Arial;
        color: var(--lightBlue);
    }
    #settingsDiv {
        width: 60%;
        height: 90%;
        border-radius: 10px;
        margin: 2.5%;
        background-color: var(--menuSideBar);
        float: right;
        border: 2px solid var(--lightBlue);
    }
    #settings {
        display: none;
        margin: 10%;
    }
    #settings ul {
        font-size: 20px;
        list-style-type: none;
        color: var(--lightBlue);
        font-family: Arial;
    }
    #settings ul li {
        margin-top: 20px;
    }
    .menu-sidebar-h3 {
        display: flex;
        justify-content: center;
        font-family: Arial;
        transition: 0.75s;
        color: var(--lightBlue);
    }
    .menu-sidebar-h3:hover {
        color: azure;
        cursor: pointer;
    }
    .menu-sidebar-h3 a {
        text-decoration: none;
        transition: 0.75s;
        color: var(--lightBlue);
    }
    .menu-sidebar-h3 a:hover {
        color: azure;
    }
.divOfPoints {
    position: absolute;
    margin-left: 80%;
    width: 20%;
    height: 20%;
    z-index: 3;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-left-radius: 10px;
    font-weight: bold;
}
.switch {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: gray;
    transition: 1s;
    float: right;
}
.switch-circle {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 12px;
    margin-left: 3px;
    margin-top: 3px;
    transition: 0.5s;
}
#divOfSettings {
    display: none;
}
#coins {
    float: right;
    margin-left: 1cm;
    display: flex;
    align-items: center;
}
#points {
    float: left;
    margin-right: 1cm;
    display: flex;
    align-items: center;
}
#GameOver {
    display: none;
    width: 50%;
    height: 50%;
    background-color: transparent;
    z-index: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3cm;
    transform: translate(50%);
    position: absolute;
}