body {
    margin: 0;
}
#game {
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 1s;
}
:root {
    --menuBackGround: rgb(20, 20, 20);
    --menuSideBar: rgb(50, 50, 50);
    --lightBlue: rgb(130, 230, 230);
}
#menu {
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(50%);
    top: 25%;
    z-index: 2;
    background-color: var(--menuBackGround);
    border-radius: 10px;
    display: none;
    border: 2px solid var(--lightBlue);
}
    #menu-sidebar {
        position: absolute;
        width: 25%;
        height: 90%;
        margin: 2.5%;
        border-radius: 10px;
        background-color: var(--menuSideBar);
        border: 2px solid var(--lightBlue);
    }
    .menu-sidebar-h2 {
        display: flex;
        justify-content: center;
        font-family: Arial;
        color: var(--lightBlue);
    }
    #settingsDiv {
        width: 65%;
        height: 90%;
        border-radius: 10px;
        margin: 2.5%;
        background-color: var(--menuSideBar);
        float: right;
        border: 2px solid var(--lightBlue);
    }
    #settings {
        display: none;
        margin: 10%;
    }
    #settings ul {
        font-size: 20px;
        list-style-type: none;
        color: var(--lightBlue);
        font-family: Arial;
    }
    #settings ul li {
        margin-top: 20px;
    }
    .menu-sidebar-h3 {
        display: flex;
        justify-content: center;
        font-family: Arial;
        transition: 0.75s;
        color: var(--lightBlue);
    }
    .menu-sidebar-h3:hover {
        color: azure;
        cursor: pointer;
    }
    .menu-sidebar-h3 a {
        text-decoration: none;
        transition: 0.75s;
        color: var(--lightBlue);
    }
    .menu-sidebar-h3 a:hover {
        color: azure;
    }
.divOfPoints {
    position: absolute;
    margin-left: 90%;
    width: 10%;
    height: 10%;
    z-index: 3;
    padding: 0;
    background-color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 15px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  input:checked + .slider {
    background-color: blue;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px blue;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }