body {
    margin: 0;
}
#game {
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 1s;
}
:root {
    --menuBackGround: rgb(50, 50, 50);
    --menuSideBar: rgb(100, 100, 100);
    --lightBlue: rgb(130, 230, 230);
}
#menu {
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(50%);
    top: 25%;
    z-index: 2;
    background-color: var(--menuBackGround);
    border-radius: 10px;
    display: none;
    border: 2px solid var(--lightBlue);
}
    #menu-sidebar {
        position: absolute;
        width: 20%;
        height: 90%;
        margin: 2.5%;
        border-radius: 10px;
        background-color: var(--menuSideBar);
        border: 2px solid var(--lightBlue);
    }
    .menu-sidebar-h2 {
        display: flex;
        justify-content: center;
        font-family: Arial;
    }
    #settings {
        width: 70%;
        height: 90%;
        border-radius: 10px;
        margin: 2.5%;
        background-color: var(--menuSideBar);
        float: right;
        border: 2px solid var(--lightBlue);
    }
    .menu-sidebar-h3 {
        display: flex;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a {
        text-decoration: none;
        transition: 0.75s;
    }
    a:hover {
        color: azure;
    }